.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  margin-bottom: 10px;
}

.form-creation {
  margin-left: auto;
  margin-right: auto;
  width: 220px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  background-color: #49fcd4;
  padding: 5px;
  border-radius: 5px;
}

.false {
  background-color: yellow;
}

.true {
  background-color: blue;
}

h1 {
  border-bottom: 1px solid #000;
}

.n_random {
  background-color: yellow;
  width: 50px;
  float: left;
  text-align: center;

}

.finder {
  border-top: 1px solid #000;

  padding: 10px 0px;
}

ul {
  list-style: none;
}

.lista {
  background-color: #eaeaea;
  font-size: 0.8em;
  margin-bottom: 5px;
}

.input {
  background-color: red;
  display: block;
}

span {
  background-color: yellow;
  margin-right: 3px;
}
