<h1>JsonPlaceHolder Api</h1>
<!-- <ul>
  <li *ngFor="let user of alumnos">
    <app-alumnos [dato]="user"></app-alumnos>
  </li>

</ul> -->
<!-- <div *ngFor="let p of posts"><img src={{p.url}} width="100" height="100"></div>  -->
<div class="container">
<div *ngFor="let p of albums"><img src={{p.url}} width="100" height="100"></div> 
</div>
<div class="form-creation"> 
  <input type="text" placeholder="busqueda de albums" [(ngModel)]="username"/>
  <button (click)="albumFinder(username)" >Busqueda</button>
 
</div>
<ol>
<li *ngFor="let p of posts">{{p.body}} </li> 
</ol>


<router-outlet></router-outlet>
