<h1>JsonPlaceHolder Api</h1>

<div class="container">
  <div *ngFor="let p of mio">
    <img src={{p.url}} width="50" height="50">
    <div class="center">{{p.id}}</div>
  </div>
</div>


<div class="finder">
  <div class="form-creation">
    <input type="text" placeholder=" ..Posts Finder" [(ngModel)]="username" (keyup)="albumFinder()" />
    <button (click)="borrar()">Limpiar filtro</button>
  </div>
</div>

<table>
  <tr *ngFor="let  p of posts">
  <td><span>{{p.id}}</span>{{p.title}}</td>
   </tr>
  </table>


<router-outlet></router-outlet>
